@media screen, projection, print {
	* {
		font-weight: normal;
	}

	html {
		font: 100%/1.5 arial, sans-serif;
	}

	header img {
		height: 80px;
		width: 80px;
	}

	footer,
	.meta {
		font-size: 90%;
	}

	footer p {
		border-top: thin solid #ddd;
		display: inline-block;
		margin: 1.5em 0 0;
		padding: .75em 0 0;
	}

	p,
	pre,
	blockquote,
	ul,
	ol,
	dl {
		margin: .75em 0;
	}

	pre,
	code {
		font-family: monospace, sans-serif;
	}

	code {
		font-size: 95%;
	}

	h1,
	h2,
	h3 {
		line-height: 1.25;
	}

	h1 {
		font-size: 2em;
		margin: 0 0 .375em;
	}

	h2,
	h3 {
		margin-top: 1.25em;
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: .5em;
	}

	h3 {
		font-size: 1.25em;
		margin-bottom: .6em;
	}

	table,
	th,
	td {
		border: thin solid #ddd;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	th,
	td {
		padding: .25em .5em;
		text-align: left;
		vertical-align: top;
	}

	strong {
		font-weight: 400;
	}

	#index .meta::before {
		content: "⊂ ";
	}
}

@media screen, projection {
	html {
		color: #333;
	}

	body {
		margin: 0 auto;
		max-width: 560px;
		padding: 16px;
		position: relative;
	}

	header {
		position: absolute;
	}

	footer,
	.meta {
		color: #666;
	}

	nav ul {
		font-size: 1.25em;
		margin: 0;
		min-height: 78px;
		padding: 0 0 0 94px;
	}

	nav ul li {
		display: inline;
		margin: 0 .25em;
	}

	main {
		margin-top: 48px;
	}

	pre,
	th {
		background: #f5f5f5;
	}

	pre {
		overflow: auto;
		padding: .5em 1em;
	}

	a {
		color: #c00;
	}

	a:visited {
		color: #a30000;
	}

	a[href^="#"] {
		color: #333;
	}

	a:hover {
		color: #000;
	}
}

@media print {
	* {
		background: #fff;
		color: #000;
	}

	header img {
		height: 52px;
		width: 52px;
	}

	nav {
		display: none;
	}
}
